$primary: #FFFFFF;
$secondary: #F1F6FC;
$color-header: #F7FAFD;

$color-text: #2B2B2B;
$grey-text: #767676;

$white: #fff;
$black: #000;

$color-accent1: #207FF1;
$color-accent1-light: #F1F6FC;

$z-index-header: 1005;
$z-index-modal: 1010;
$z-index-sidebar: 1000;

$header-height: 96px;

$tablet-bp: 1180px;
$mobile-bp: 575px;