<aside class="sidebar" id="sidebar">
	<div class="sidebar_content">
		<nav class="nav nav--mobile">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="index.html">Каталог объектов</a>
				</li>
				<li class="nav__item">
					<a class="nav__link has-subnav" href="#">Блог</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="text.html">Команда</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="text.html">FAQ</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="text.html">Контакты</a>
				</li>
			</ul>
		</nav>
	</div> <!-- /.sidebar_content -->
	<div class="sidebar_footer">
		<button class="btn btn-offer" type="submit">Оставить заявку</button>
	</div>
</aside>